math { font-size: 1.2rem; margin-bottom:2%}

ul.center {
  display: table;
  margin: 0 auto;
}

.left{
	float: left;
	padding: 0 20px 20px 0;
}

.cm { /*Per i commenti nel codice */
    color: #408080;
    font-style: italic;
}

.overline{ /* horizontal line over a word */
text-decoration: overline;
}

section{
    display: flex;
    margin-top:20px;
}

p{
    font-size: 1.2em;
    line-height: 1.618em;
    margin-bottom: 1.618em;
    margin-top: 0;
}

.blue{
	color:blue;
}

.green{
	color:green;
}

.yellow{
	color:yellow;
}

.viola{
color:#cc99ff;
}

section>p{
    margin:17px;
}

pre {
    background: #1e2a37;
    color:white;
    text-shadow: 0 1px rgba(0,0,0,.3);
    font-family: Consolas,Monaco,andale mono,ubuntu mono,monospace;
    text-align: left;
    font-size:11px;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    padding:0.7em;
}

.red{
    color:red;
}

.function {
    color: #e6db74;
}

.keyword {
    color: #66d9ef;
}

.number{
    color: #ae81ff;
}

.string {
    color: #a6e22e;
}

code {
    padding: 1px;
	background: rgba(0,0,0,0.1);
}

code, pre {
    font-size: 14px !important;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #751414;
}

/* Vertical Line */
.vl {
    border-left: 1px solid #333;
    height: 85px;
    margin-left:50px;
    margin-right: -10px;
    margin-bottom: 5px;
}

section>a{
    margin:40px;
}

body{
  background:#d1d1d1;
}

ul{
    list-style:square;
}

.def{
    padding: 30px;
    border: 2px solid black;
    margin: 25px;
    width: 770px;
    margin-left:auto; 
    margin-right:auto;
}

.eq{
    text-align:center;
}

span.eq{    
    margin-left:200px;
    color:#751414;
}

.content{
    margin-left:70px;
    margin-right:70px;
    margin-top:10px;
    padding:80px;
    background:#d1d1d1;
}

blockquote{
	background:rgba(0,0,0,0.1);
	padding: 8px;
	display:inline-block;
}

nav{
    background: #751414;
    clear:both;
}

nav>ul{
    /*no bullets */
    list-style:none;
    /*to remove browser default settings */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav>ul>li{
    float:left; /* to get block elements to slide next to each other */
}

a.navbar{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

img.inline{
    display:inline-block;
}

/* Change the link color to #374936 (green) on hover */
nav>ul>li>a:hover {
    background-color: #374936;
}

input{
    background-color:#F2F2F2;
}

input.white{
    background-color:white;
}

.lente{
    background-image: url("lens.png");
    padding:10px;
    position: relative;
    right: 30px;
    height: 10px;
    top:11px;
    background-repeat: no-repeat;
    background-color:white;
    border:none;
}

#search{
margin-left:40px;
height: 40px; width:400px; }

select{
    margin-top:50px;
    margin-left:100px;
    width:250px;
    text-align:center;
}

li{
    margin:2px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin:5% }
  
table tr th {
  background: #d1d1d1;
}

table tr th a:hover {
  color: #751414;
  font-weight: normal;
}

table tbody tr th {
  vertical-align: middle; }

tr td,tr th {
  border: solid 1px; 
  padding: 9px 9px;
  text-align: center;
  /* LTR */
  /* Tablet Styles */ }
  @media screen and (max-width: 600px) {
    tr td,
    tr th {
      padding: 2px;
      font-size: 10px; } }

table ul.links {
  margin: 0px;
  padding: 0;
  font-size: 1em; 
}  

table ul.links li {
  padding: 0 1em 0 0;    
}

.centertable { margin: 2em auto; }

.italictable{font-style: italic;}

.noborder {
  border-spacing: 0;  
}
.noborder tr td { /* !!! */
  border-width: 0;
}

th.case, td.case {
    background:#d1d1d1;
    width: 70px;
  /* Tablet Styles */ }
  @media screen and (max-width: 600px) {
    th.case, td.case {
      width: auto; } }

h2{
    margin-top:40px;    
}

img{
    display: block;
    margin: auto;
    margin-bottom:20px;
}

figcaption{
     text-align:center;
     font-size:14px;
}

body {
    color: #444;
    font-size: 16px;
}

body, h5 {
    font-family: 'Open Sans',sans-serif;
    line-height: 24px;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

footer {
  margin-top: 50px;
  border-top: 1px solid silver;
  font-size: 0.9em;
}
